Package: gl-sdk4-tailscale
Version: 1:1.3.1-1
Depends: libc, coreutils, coreutils-timeout, libuci-lua
Source: feeds/glinet/gl-sdk4-tailscale
SourceName: gl-sdk4-tailscale
Section: base
SourceDateEpoch: 1745554981
Architecture: all
Installed-Size: 6328
Description:  TAILSCALE Info API for Gl.inet
